<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Go GET GitHub search</title>
</head>

<body>
    <form action="/" method="get">
        <input type="text" name="q" required>
        <input type="submit" value="Search!">
    </form>

    <hr />
{{range .}}
    <a href="{{.HTMLURL}}">[{{.Number}}] {{.Title}}</a>
    from <a href="{{.User.HTMLURL}}">{{.User.Login}}</a>{{if .Milestone}}
        (milestone <a href="{{.Milestone.HTMLURL}}">{{.Milestone.Title}}</a>
        by <a href="{{.Milestone.Creator.HTMLURL}}">{{.Milestone.Creator.Login}}</a>){{end}}
    <br />{{else}}
    Search for something!
    {{end}}
</body>

</html>
